@font-face {
    font-family: 'Arcade';
    src: url(./ARCADECLASSIC.TTF);
}

body {
    font-family: 'Arcade', 'Roboto';
    background-color: antiquewhite;
    color: rgb(204, 173, 0);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard {
    gap: 6px;
    background-color: rgb(204, 173, 0);
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}
#cell {
    background-color: antiquewhite;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    
}

#players {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 400px;
}
.results {
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img {
    height: 60px;
    width: 60px;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.mark {
    height: 50px;
    width: 50px;
}

button {
    background: none;
    border: none;
    color: inherit;
}
#cell:hover {
    background-color: rgb(255, 244, 228);
}

#buttons {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    
}
button.restart,
button.names {
    border: 2px solid rgb(204, 173, 0);;
    font-family: 'Arcade';
}